POSTGRES_DB=cdia
POSTGRES_PORT=5432
CDIA_APP_DB_USER=cdia_app
CDIA_APP_DB_PASSWORD=change_me_app
CDIA_MIGRATIONS_DB_USER=cdia_migrations
CDIA_MIGRATIONS_DB_PASSWORD=change_me_migrations
CDIA_METRICS_DB_USER=cdia_metrics
CDIA_METRICS_DB_PASSWORD=change_me_metrics
